html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 75%;
}
body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  color: rgb(36, 36, 36);
  text-align: center;
}
/* utilities */
.u-align-center {
  text-align: center;
}
.u-align-left {
  text-align: left;
}
.u-align-right {
  text-align: right;
}
.u-margin-top-small {
  margin-top: 1rem;
}

.u-margin-bottom-small {
  margin-bottom: 1rem;
}

.u-margin-both-small {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* utilities ends*/

.main-section {
  margin: 0 auto;
  display: inline-block;
  width: 48rem;
  box-shadow: 0rem 0rem .2rem rgba(0,0,0, 0.5);
  border-radius: 0.3rem;

}
.content-head {
  background-color: rgb(41, 41, 73);
  padding-top: 0.2rem;
  padding-bottom: 1rem;
  box-shadow: 0rem 0rem .2rem rgba(0,0,0, 0.5);

  border-radius: 0.3rem 0.3rem 0 0;
}

.heading-primary--main {
  color: rgb(243, 243, 243);
}
.heading-primary--second {
  color: #555;
}



.content-body {
  height: 40rem;
  background-color: rgb(245, 245, 245);
  padding-top: 2rem;
  padding-bottom: 2rem;
  /* border-radius: 0.3rem; */
}

textarea {
  resize: none;
}

input[type='checkbox'] {
  height: 0.8rem;
}
.checkbox-label {
  padding: 0.5rem;
}

.arrow {
  padding: 2rem;
  font-size: 3rem;
  background-color: rgb(245, 245, 245);
  color: rgb(223, 94, 43);

  border-style: none;
  text-shadow: 0rem 0.1rem 0.2rem rgba(27, 27, 27, 0.8);
  cursor: pointer;
}

button[type='submit'] {
  background-color: rgb(245, 245, 245);
  border: none;
}
.arrow:hover {
  color: rgb(199, 58, 3);
  text-shadow: 0rem 0.1rem 0.2rem rgba(27, 27, 27, 0.8);
  outline: none;

  border: none;
}
.arrow:active {
  color: rgb(199, 58, 3);
  text-shadow: 0rem 0.1rem 0.2rem rgba(27, 27, 27, 0.8);
  outline: none;

  border: none;
}

button[type='submit']:active {
  outline: none;
  border-color: rgb(245, 245, 245);
}
button[type='submit']:visited {
  outline: none;
  border-color: rgb(245, 245, 245);
}
button[type='submit']:focus { 
    outline: none; 
}