.App {
  width: 40rem;
  display: inline-block;
}
*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

html {
  font-size: 75%;
}
@media (max-width: 37.5em) {
  html {
    font-size: 60%;
  }
}
body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  color: rgb(36, 36, 36);
  text-align: center;
}

/* utilities */
.u-align-center {
  text-align: center;
}
.u-align-left {
  text-align: left;
}
.u-align-right {
  text-align: right;
}
.u-margin-top-small {
  margin-top: 1rem;
}
.u-margin-bottom-small {
  margin-bottom: 1rem;
}
.u-margin-both-small {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
/* utilities ends*/

.main-section {
  margin-top: 2rem;

  margin-bottom: 1rem;
  display: inline-block;
  width: 100%;
  box-shadow: 0rem 0rem 0.2rem rgba(0, 0, 0, 0.5);
  border-radius: 0.3rem;
}

@media (max-width: 37.5em) {
  .main-section {
    margin: 0 auto;
    margin-bottom: 0.5rem;
  }
}
.content-head {

  background-color: rgb(41, 41, 73);
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  box-shadow: 0rem 0rem 0.2rem rgba(0, 0, 0, 0.5);

  border-radius: 0.3rem 0.3rem 0 0;
}

.heading-primary--main {
  color: rgb(243, 243, 243);
}
.heading-primary--second {
  color: #555;
}

.content-body {
  height: 34rem;
  background-color: rgb(245, 245, 245);
  padding-top: 2rem;
  padding-bottom: 2rem;
  /* border-radius: 0.3rem; */
}

textarea {
  resize: none;
  width: 80%;
  height: 10rem;
}

input[type='checkbox'] {
  height: 0.8rem;
}
.checkbox-label {
  padding: 0.5rem;
}

.arrow {
  padding: 2rem;
  font-size: 3rem;
  background-color: rgb(245, 245, 245);
  color: rgb(223, 94, 43);

  border-style: none;
  text-shadow: 0rem 0.1rem 0.2rem rgba(27, 27, 27, 0.8);
  cursor: pointer;
}

button[type='submit'] {
  background-color: rgb(245, 245, 245);
  border: none;
}
.arrow:hover {
  color: rgb(199, 58, 3);
  text-shadow: 0rem 0.1rem 0.2rem rgba(27, 27, 27, 0.8);
  outline: none;

  border: none;
}
.arrow:active {
  color: rgb(199, 58, 3);
  text-shadow: 0rem 0.1rem 0.2rem rgba(27, 27, 27, 0.8);
  outline: none;

  border: none;
}

button[type='submit']:active {
  outline: none;
  border-color: rgb(245, 245, 245);
}
button[type='submit']:visited {
  outline: none;
  border-color: rgb(245, 245, 245);
}
button[type='submit']:focus {
  outline: none;
}

.footer {
  display: inline-block;
  margin: 0 auto;
}
.content-body-customization {
  height: 35rem;
  background-color: rgb(245, 245, 245);
  padding-top: 2rem;
  padding-bottom: 2rem;
  /* border-radius: 0.3rem; */
}

.customization{
  padding-right:1rem;
  display:block;
}

.customization:link {
text-decoration: none;
color:rgb(245, 245, 245);
}
.customization:hover{
text-decoration:underline;
}

.customization:active {
text-decoration: none;
color:rgb(245, 245, 245);
}

.customization:visited {
text-decoration: none;
color:rgb(245, 245, 245);
}

input[type="text"]{
  width:25%;
  font-size: .9rem;
}

.error{
  font-size:.8rem;
  color:red;
  padding-top: 0.5em;
}



